.home {
  width: 100%;
  &__overlay {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(65%);
  }
  .home__wrapper {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    color: #fff;
    @media (max-width: 550px) {
      gap: 1rem;
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    h4 {
      font-family: "Inter";
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      b {
        font-family: Inter;
        font-weight: 900;
      }
    }
    h1 {
      max-width: 800px;
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      @media (max-width: 550px) {
        font-size: 46px;
        font-weight: 800;
        line-height: 45px;
      }
    }
    h5 {
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      span {
        color: #ffd050;
      }
    }
    p {
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      max-width: 600px;
      @media (max-width: 550px) {
        line-height: 24px;
      }
    }
    button {
      padding: 16px 48px;
      color: #232536;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      background-color: #ffd050;
      cursor: pointer;
      &:hover {
        background-color: #ffc420;
      }
    }
  }
}
.popular_blogs {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    h1 {
      color: #000;
      margin-bottom: 64px;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
    }
    &_cards {
      width: 100%;
    }
  }
}
.categories {
  width: 100%;
  padding-bottom: 5rem;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
    border-top: 1px solid #6d6e7681;
    padding-top: 5rem;
    h1 {
      color: #232536;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
    }
    &_cards {
      width: 100%;
    }
  }
}
